.action-button-container {
    display: flex;
    padding: 10px 25px;
    border-radius: 10px;
    width: fit-content;

    font-size: 0.75rem;
    font-weight: 400;

    &:hover {
        cursor: pointer;
        font-weight: 500;
    }
}

.classic {
    border: 1px solid var(--white);
    color: var(--white);

    &:hover {
        background-color: var(--white);
        color: var(--grey);
    }
}

.revert {
    border: 1px solid var(--black);
    color: var(--black);

    &:hover {
        background-color: var(--black);
        color: var(--white);
    }
}