* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: inherit;
  color: inherit;
}

input {
  background-color: transparent;
  border: none;
  outline: none;
}

html {
  width: 100dvw;
  overflow-x: hidden;
}

ol, ul, li {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Works on Firefox */
body {
  scrollbar-width: thin;
  scrollbar-color: var(--white);
}

/* Works on Chrome, Edge, and Safari */
::-webkit-scrollbar {
  width: 6px; /* width of the entire scrollbar */
}
::-webkit-scrollbar-track {
  background: var(--background-color); /* color of the tracking area */
}
::-webkit-scrollbar-thumb {
  background-color: var(--white); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 1px solid var(--background-color);
}